.typed-column {
  margin-top: 0;

  /* Larger than mobile */
  @media (min-width: 400px) {
    margin-top: 25%
  }
}

.typed {
  display: inline-block;
  font-weight: bold;
}

.typed-first {
  margin-right: 10px;
}

.typed-cursor{
  display:none;
}

// .typed-cursor{
//     font-size: 4.2rem;
//     opacity: 1;
//     -webkit-animation: blink 0.7s infinite;
//     -moz-animation: blink 0.7s infinite;
//     animation: blink 0.7s infinite;
// }
// @keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-webkit-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-moz-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
