/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

@import "pictonic";
@import "typed";
@import "scroll-down";
@import "overlay-nav";

/* ==== GLOBAL ==== */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2C363F;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.2rem;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
  line-height: 6px;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

header {
  position: relative;
  width: 100%;
  display: block;

  /* Larger than mobile */
  @media (#{$bp-larger-than-mobile}) {
    padding: 20px;
  }
}

.logo {
  display: inline-block;
  background-color: #DE3C4B;
  padding: 10px;

  svg {
    max-width: 52px;
    height: auto;
  }
}

#mainNav {

  .menu-hamburger {
    background-color: #DE3C4B;
    padding: 14px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;

    /* Larger than mobile */
    @media (#{$bp-larger-than-mobile}) {
      top: 20px;
      right: 20px;
    }

    button.hamburger {
      display: flex;
      padding: 0;

      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: white;
      }
    }
  }
}

.top-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    /* Larger than mobile */
    @media (#{$bp-larger-than-mobile}) {
      display: block;
    }
  }

  h1 {
    font-weight: bold;
  }

  .typed-column {
    text-align: center;
  }
}

.title {
  text-align: center;

  h3 {
    display: inline-block;
    position: relative;
    &:before {
      right: 100%;
      margin-right: 20px;
    }

    &:after {
      left: 100%;
      margin-left: 20px;
    }

    &:before,
    &:after {
      background: rgba(255,255,255,.1);
      content: "";
      height: 1px;
      position: absolute;
      top: 27px;
      width: 1200px;
    }
  }
}

.drupal-column,
.wp-column,
.responsive-column {
  .fa,
  .icon {
    font-size: 2rem;

    /* Larger than mobile */
    @media (#{$bp-larger-than-mobile}) {
      font-size: 4rem;
    }
  }
}

#particles-js {
  background: #2C363F;
  // width: 260px;
  //height: 260px;
}

a.top {
  position: fixed;
  z-index: 1000;
  right: 40px;
  bottom: 55px;
  background-color: rgba(0,0,0,.1);
  color: white;
  line-height: inherit;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  padding: 2px 10px 2px 35px;
  display: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;

  .fa-arrow-left {
    height: 12px;
    width: auto;
    position: absolute;
    left: 10px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  font-size: initial;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

section {
  margin-bottom: 50px;
  overflow: hidden;
}
section#about {
  letter-spacing: 2px;

  /* Larger than mobile */
  @media (#{$bp-larger-than-mobile}) {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
}
section#work {
  .container {
    margin-top: 50px;
  }

  .row {
    // Larger than mobile
    @media (#{$bp-larger-than-mobile}) {
      margin-bottom: 160px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .work-image {
      margin-bottom: 80px;
    }
    .work-info {
      margin-bottom: 40px;
    }
  }

  .box {
    display: block;
    position: relative;

    &:hover,
    &:focus {
      .box-meta {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: 8px solid rgba(222, 60, 75, 0.5);
      }
    }

    .box-meta {
      padding: 20px;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      font-weight: 400;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: -30px;
      top: -30px;
      border: 1px solid rgba(222, 60, 75, 0.1);
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out;

      .top-box-meta-content {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #DE3C4B;
      }

      .bot-box-meta-content {
        position: absolute;
        bottom: -40px;
        z-index: 10;
        padding: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #DE3C4B;
      }
    }

    .company {
      font-size: 2rem;
      display: block;
      letter-spacing: 0.2rem;
    }
    .software {
      font-size: 2rem;
      display: block;
      letter-spacing: 0.2rem;

      .icon {
        font-size: 4rem;
        margin-right: 5px;
      }
    }
    .my-role {
      font-size: 1.2rem;
      display: block;
      letter-spacing: 0.2rem;
    }

  }
}
section#cv {
  //background-color: #DE3C4B;
  color: white;
  display: block;
  width: 100%;
  position: relative;

  // Larger than mobile
  @media (#{$bp-larger-than-mobile}) {
    display: table;
  }

  // Larger than tablet
  @media (#{$bp-larger-than-tablet}) {
    height: 500px;
  }

  h2 {
    border: 2px solid #FFF;
    display: inline-block;
    padding: 5px 20px;
  }

  .title {
    background-color: #2C363F;
    overflow: hidden;

    // Larger than mobile
    @media (#{$bp-larger-than-mobile}) {
      display: table-caption;
    }
  }

  .cv-item {
    text-align: center;
    .cv-date {
      font-size: 3rem;
      font-weight: 100;
    }
    .cv-company a {
      font-size: 3rem;
      color: #DE3C4B;
      font-weight: bold;
    }
    .cv-role {
      font-size: 2rem;
      font-weight: 100;
    }
    .cv-skills {
      letter-spacing: 0.2em;
    }

    p {
      font-size: 2rem;
      text-align: left;
      margin: 20px;
    }
  }

  /* Button 1e */
  .btn-1 {
  	border: 3px solid #fff;

    a {
  	  color: #fff;
      -webkit-transition: all 0.6s;
    	-moz-transition: all 0.6s;
    	transition: all 0.6s;
    }
  }

  .btn-1e {
    display: block;
  	overflow: hidden;
    margin: 50px auto 10px;
  }

  .btn-1e:after {
  	width: 100%;
  	height: 0;
  	top: 50%;
  	left: 50%;
  	background: #fff;
  	opacity: 0;
  	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  	transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  .btn-1e:hover a,
  .btn-1e:active a {
  	color: #DE3C4B;
  }

  .btn-1e:hover:after {
  	height: 260%;
  	opacity: 1;
  }

  .btn-1e:active:after {
  	height: 400%;
  	opacity: 1;
  }
}
section#contact {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  margin: 0px;
  padding: 20px 0px;
  text-align: center;

  // Larger than mobile
  @media (#{$bp-larger-than-mobile}) {
    padding: 60px 0px;
  }

  & > a {
    color: white;
    font-size: 2rem;
    position: relative;

    &:hover,
    &:focus {
      .fa-envelope {
        opacity: 1;
        top: -30px;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
      }
      &:after {
        color: #DE3C4B;
        text-shadow: 10px 0 #fff, -10px 0 #fff;
      }
    }

    .fa-envelope {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      content: '';
      opacity: 0;
      // -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      // -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
      // transition: height 0.3s, opacity 0.3s, transform 0.3s;
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      color: transparent;
      content: "•";
      text-shadow: transparent 0px 0px;
      font-size: 1.2em;
      transform: translateX(-50%);
      pointer-events: none;
      transition: text-shadow 0.3s, color 0.3s;
    }
  }
}

footer {
  background-color: #28323A;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  min-height: 350px;
  text-align: center;
  padding-top: 40px;

  svg {
    margin-bottom: 20px;
  }

  i.fa-heart {
    color: #DE3C4B;
  }

  a {
    i.fa.fa-linkedin-square,
    i.fa.fa-github-alt {
      color: white;
      font-size: 4rem;
      margin: 0 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  a:hover,
  a:focus {
    i.fa.fa-linkedin-square {
      color: #0077B5;
    }
    i.fa.fa-github-alt {
      color: #171516;
    }
  }
}










.fa-hdd-o:before {
    content: "\f0a0";
}
.circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

svg .icon {
    font-family: FontAwesome;
}
